.custom-size-logo{
    height: 14%;
    width: 8%;
}
.custom-size-card{
    height: 421px;
    width: 265px;
}

.bg-facebook{
    background: #39579a;
}
.fc-color{
    color: #44549A;
}
.bg-twitter{
    background: #009fe3;
}
.bg-lin{
    background: #3474B6;
}
.bg-black{
    background-color: #00000080;
}

.custom-size-small-logo{
    height: 40%;
    width: 20%;
}
.custom-font{
    font-family: 'Montserrat' sans-serif;
}